.place__link {
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #fff;
  transition: opacity 0.3s ease;
  margin: 0;
  padding: 0;
}

.place__link:hover {
  opacity: 0.8;
}
