.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 92px 48px 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 1020px) {
  .footer {
    margin: 88px 24px 0px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    margin: 64px 16px 0;
  }
}